# Global attributes for forcing line endings normalization of specific files

* text=auto

# Configs
.gitattributes text eol=lf   encoding=utf-8
.gitignore     text eol=lf   encoding=utf-8
.editorconfig  text eol=crlf encoding=utf-8
*.json         text eol=crlf encoding=utf-8
*.yml          text eof=lf   encoding=utf-8
*.yaml         text eof=lf   encoding=utf-8
*.xml          text eol=crlf encoding=utf-8
*.manifest     text eol=crlf encoding=utf-8

# Projects and solutions
*.sln     text eol=crlf encoding=utf-8-bom
*.csproj  text eol=crlf encoding=utf-8
*.props   text eol=crlf encoding=utf-8
*.targets text eol=crlf encoding=utf-8

# Sources
*.cs    text eof=crlf encoding=utf-8
*.xaml  text eol=crlf encoding=utf-8
*.axaml text eol=crlf encoding=utf-8

# Documents
*.md text eol=crlf encoding=utf-8
